* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(45deg, #b8e7fa, #e6e6fa);
  font-family: Poppins;
  gap: 100px;
}

header {
  padding: 24px 0;
  background-color: #ffffff;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 87.5%;
  margin: 0 auto;
}

nav h2 {
  margin: 10px;
  font-weight: bolder;
  font-size: 28px;
  color: #0d1321;
}

nav h2 span {
  color: #ffa500;
}

nav button {
  padding: 17px 24px;
  margin: 0 10px;
  background: linear-gradient(to right, #ffa500, #ffd447);
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  opacity: 80%;
  box-shadow: 1px 2px 2px #ffa500;
}

.home-page {
  max-width: 1260px;
  margin: 100px auto;
  padding: 40px 60px;
  background-color: #e6edf9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  box-shadow: 2px 2px 2px E6EDF9;
  border-radius: 16px;
}

.home-contant {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 32px;
}

.home-contant-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.home-contant-details h1 {
  font-weight: bolder;
  font-size: 48px;
  color: #0d1321;
}

.home-contant-details p {
  font-size: 16px;
  color: #0d1321;
  max-width: 852px;
  opacity: 70%;
}

.button button {
  padding: 17px 24px;
  background: linear-gradient(to right, #ffa500, #ffd447);
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  opacity: 80%;
  box-shadow: 1px 2px 2px #ffa500;
}

button:hover {
  background: linear-gradient(to left, #ffa500, #ffd447);
  box-shadow: 1px 2px 2px black;
  cursor: pointer;
}

button:active {
  box-shadow: 1px 2px 2px #b8e7fa;
  cursor: default;
}

.blog-page,
.inspiration-page,
.target-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  max-width: 1380px;
  margin: 100px auto;
}

.blog-heading,
.inspiration-heading,
.target-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  max-width: 852px;
  margin: 0 auto;
  gap: 24px;
}

.blog-heading h1,
.inspiration-heading h1,
.target-heading h1 {
  font-weight: bolder;
  font-size: 32px;
  color: #0d1321;
}

.blog-heading p,
.inspiration-heading p,
.target-heading p {
  font-size: 16px;
  opacity: 70%;
  color: #0d1321;
  text-align: center;
}

.blog-card {
  justify-content: space-between;
  align-items: center;
  padding: 48px;
  background-color: #e6edf9;
  display: flex;
  gap: 32px;
  box-shadow: 2px 2px 2px E6EDF9;
  border-radius: 16px;
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.blog-content-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blog-content-details h2 {
  font-weight: bold;
  font-size: 24px;
}

.blog-content-details p {
  font-size: 16px;
  opacity: 70%;
  color: #0d1321;
}

.inspiration-page {
  max-width: 1100px;
}

.inspiration-content p {
  font-family: Azeret Mono;
}

.inspiration-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 32px;
  max-width: 1100px;
  max-height: 620px;
  border: 1px solid #0d1321;
  border-radius: 16px;
}

.inspiration-content iframe {
  border-radius: 16px;
}

.target-content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.box {
  display: flex;
  gap: 32px;
  padding: 40px;
  max-width: 364px;
  width: 100%;
  border: none;
  border-radius: 16px;
  background: linear-gradient(90deg, #e6edf9, #9de5ff);
  box-shadow: 1px 1px 10px grey;
}

.box:hover {
  background: linear-gradient(90deg, #9de5ff, #e6edf9);
  box-shadow: 2px 2px 20px black;
}

.box-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.target-content-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.target-content-details p {
  font-weight: bold;
  font-size: 16px;
}

.box-content a {
  color: black;
}

.box-content a:hover {
  font-size: 16.5px;
  box-shadow: 1px 1px 10px #ffffff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 150px;
  gap: 32px;
  background-color: #ffffff;
}

.footer-content-details p {
  font-family: "Azeret Mono";
  font-weight: 550;
  font-size: 20px;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}

.footer-icons img:hover {
  box-shadow: 3px 3px 20px #9de5ff;
  border-radius: 50%;
}
.footer-icons img:active {
  box-shadow: 3px 3px 20px gray;
}

/* media */

@media (max-width: 1440px) {
  .home-page,
  .blog-card,
  .target-content {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 1440px) {
  .home-page {
    width: 80%;
    margin: 100px auto 0 auto;
  }
}

@media (max-width: 1200px) {
  .inspiration-content {
    width: 80%;
    margin: 0 auto;
  }
  .inspiration-content iframe {
    max-height: 450px;
  }
}

@media (max-width: 990px) {
  .blog-card {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .blog-content {
    align-items: center;
  }
  .blog-content-details {
    align-items: center;
  }
  .blog-content-details p {
    text-align: center;
  }
  .inspiration-content {
    width: 90%;
    margin: 0 auto;
  }
  .inspiration-content iframe {
    max-width: 960px;
  }
  .footer-content {
    padding: 20px 90px;
  }
}

@media (max-width: 880px) {
  
  .target-content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .home-page {
    width: 80%;
    box-shadow: 1px 1px 8px grey;
  }
  .home-contant-details h1 {
    font-size: 40px;
  }
  .blog-card {
    flex-direction: column-reverse;
    justify-content: center;
    box-shadow: 1px 1px 8px grey;
  }
  .blog-content {
    align-items: center;
  }
  .blog-content-details {
    align-items: center;
  }
  .blog-content-details p {
    text-align: center;
  }
  .inspiration-content {
    width: 85%;
    margin: 0 auto;
  }
  .inspiration-content iframe {
    box-shadow: 1px 1px 8px grey;
    max-height: 400px;
  }
  .target-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
  }
}

@media (max-width: 680px) {
  .inspiration-content {
    width: 90%;
    margin: 0 auto;
  }
  .inspiration-content iframe {
    max-height: 350px;
  }
}

@media (max-width: 576px) {
  nav button {
    padding: 5px 10px;
    margin: 0 20px;
  }
  nav {
    padding: 0;
    margin: 0 10px;
    max-width: 98%;
  }
  nav h2 {
    font-size: 25px;
  }
  .home-page,
  .blog-card {
    width: 90%;
    margin: 50px auto 0 auto;
  }
  .home-page {
    padding: 45px 15px;
  }
  .home-contant {
    text-align: center;
  }
  .home-contant h1 {
    font-size: 28px;
  }
  .home-contant p {
    font-size: 15px;
  }
  .blog-heading {
    text-align: center;
    width: 90%;
  }
  .blog-heading h1 {
    font-size: 30px;
  }
  .blog-heading p {
    font-size: 15px;
  }
  .blog-card {
    margin: 0 auto;
    padding: 45px 15px;
  }
  .blog-image img {
    width: 100%;
    margin: 0 auto;
  }
  .blog-content-details {
    text-align: center;
  }
  .blog-content-details h1 {
    font-size: 28px;
  }
  .blog-content-details p {
    font-size: 15px;
  }
  .inspiration-page {
    gap: 30px;
  }
  .inspiration-heading {
    width: 90%;
  }
  .inspiration-heading h1 {
    font-size: 30px;
  }
  .inspiration-heading p {
    font-size: 15px;
  }
  .inspiration-content {
    width: 95%;
    padding: 10px;
  }
  .inspiration-content iframe {
    max-height: 300px;
  }
  .target-heading {
    width: 90%;
    gap: 15px;
  }
  .target-heading h1 {
    font-size: 30px;
  }
  .target-heading p {
    font-size: 15px;
  }
  .footer-content {
    padding: 10px 0;
    gap: 10px;
  }
}
